*.project
*.classpath
*.class
*.jar
*.zip
assignments/example/lib_managed/*
assignments/example/.settings/*
*/target/*
*/**/.cache
*/**/target/
*/**/.settings
*/**/.idea/
*/**/classes/
*/**/*.iml
*/**/out/
*/**/*.pdf
